alias aa='open ~/.aliases && . ~/.aliases'

lsd_or_ls () {
    if command -v lsd >/dev/null 2>&1; then
        lsd $1
    else
        ls $1
    fi
}

# lsd if available, fall back to ls
alias ls=lsd_or_ls

rstudio() {
    R CMD javareconf -e
    open -a rstudio
}
