{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "requireConfigFile": false,
        "ecmaFeatures": {"jsx": true}
    },
    "env": {"browser": true, "node": true, "es2021": true},
    "plugins": ["react"],
    "extends": "airbnb",
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
        "react/jsx-indent": [2, 2]
    }
}
